server:
  broadcast: ""
  port: ""
  sendMail: false
SECRET: ""
database:
  user: ""
  dbname: ""
  password: ""
email:
  from: ""
  arn: ""
s3:
  bucket: ""
  region: ""
aws:
  accessKeyId: ""
  secretAccessKey: ""
